/* reset */
*
{
  margin: 0;
  padding: 0;
  font-family: inherit;
}
/* styling */
:root{
  ---back-ground-color: #fde68a;
  ---border-color: #b45309;
  ---font-color: #451a03;
  ---signify: #fbbf24;
}
button
{
  background-color: var(---signify);
  border: 1px var(---border-color) solid;
}
@font-face {
  font-family: "odin";
  src: 
    url("fonts/journal-webfont.woff") format("woff"),
    url("fonts/journal-webfont.woff2") format("woof2");
}
body
{
  font-family: "odin";
  font-size: 1.5rem;
  background-color: var(---back-ground-color);
  color: var(---font-color);
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1, table, caption
{
  margin-bottom: 5%;
}
table 
{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid var(---border-color);
}
thead tr, tbody tr
{
  display: grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
}
tbody button 
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 10%;
}
td, th
{
  border: 1px var(---border-color) solid;
  border-width: 2px 2px 1px 2px;
  display: flex;
  justify-content: center;
}
tfoot button
{
  width: 100%;
  grid-column: span 4;
  font-size: 1.5rem;
}
dialog
{
  position: absolute;
  margin: auto;
  width: 60%;
  border-radius: 10px;
}
dialog::backdrop
{
  background-color: #451a03; 
}
dialog form
{
  padding: 10%;
  display: flex;
  flex-direction: column;
  background-color: var(---back-ground-color);
  color: var(---font-color);
}
dialog button
{
  background-color: var(---signify);
  border: 1px solid var(---border-color);
  font-size: 1.5rem;
}
form>label
{
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form>label input
{
  width: 70%;
  border-radius: 10px;
  border: 1px var(---border-color) solid;
  padding: 2px 2%;
}
form>label input:invalid
{
  background-color: var(---signify);
}
form fieldset
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5%;
  border-radius: 10px;
  border: 1px var(---border-color) solid;
}
fieldset>label
{
  margin: 5%;
}
fieldset input
{
  margin-right: 5px;
}
fieldset input::marker
{
  background-color: var(---signify);
}