*
{
  margin: 0;
  padding: 0;
}
body
{
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1, table, caption
{
  margin-bottom: 5%;
}
table 
{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
}
td, th
{
  border: 1px black solid;
}
tfoot button
{
  width: 100%;
}
dialog
{
  display: absolute;
  margin: auto;
  top: 20vh;
  width: 60%;
}
dialog form
{
  padding: 10%;
  display: flex;
  flex-direction: column;
}
form>label
{
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form>label input
{
  width: 70%;
}
form fieldset
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
fieldset>label
{
  margin: 5%;
}
fieldset input
{
  margin-right: 5px;
}